/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

main {
  margin: 150px auto 0;
  padding: 0 20px;
  text-align: center;
  /* max-width: 700px; */
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #207fa4;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #477c9b;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  color: #8b7252;
}

a {
  color: #2b2b2b;
}

a:visited {
  color: #2b2b2b;
  /*changes color of link after it has been visited */
}

/* no underlining when hovering over a link, hover must come after visited, and active must come after hover */
a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #ffffff;
  /*changes color of link when clicked */
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #a89580;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 10px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /*opacity will change 0.2 s rather than instant*/
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #a89580;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 10px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /*opacity will change 0.2 s rather than instant*/
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.github__button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #a89580;
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 10px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /*opacity will change 0.2 s rather than instant*/
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button a,
.github__button {
  /* added this bc my primary button still had the default underline*/
  text-decoration: none;
}

.button:hover,
.button:focus,
.github__button:hover,
.github__button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list__item:hover {
  text-decoration: underline;
}

.profile__portrait {
  float: left;
  width: 250px;
  /* margin-right: 40px; */
  border-radius: 50%;
  margin: 20px;
}

.profile {
  max-width: 700px;
  margin: 150px auto;
  padding: 0px 20px;
}

.page__footer {
  /* added this to clear the float- made the footer go below profile img- */
  clear: both;
}

* {
  /* added this to make sure all elements have the same box-sizing */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page__footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* changed this to column to make "connect with me" stack on top of social media icons */
  text-align: center;
  padding-top: 120px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: auto;
  border-bottom: 1px solid gray;
  background-color: white;
  z-index: 1; /*added this bc contact.html screen was going above the nav bar */
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; /* =this way logo takes up 200px of space, and the nav takes up the rest */
}
.navigation__page-header-item:last-child {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


.navigation-list {
  list-style-type: none; /* removed the bullet points from the list */
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navigation-list li {
  /* added this to make the nav items display inline target using li  */
  display: inline-block;
  margin-left: 15px;
}
/* start grid fallback*/
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback*/

@supports (display: grid) {
  /* if the condition is true, use the css in this block */
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* made 3 colums w width of 300px/1fraction*/
    grid-gap: 20px;
    /* padding: 20px; */
    text-align: center;
  }

  .grid__item {
    background-color: #e6e6e6;
    width: auto;
    min-height: auto;
    margin: 10px;
    padding: 10px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease; /*adds a smooth transition for  the transformation*/
  }
  .grid__item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); /*inc size by5%on hover*/
    cursor: pointer; /*change cursor to pointing hand*/
  }
}

#work-heading {
  text-align: center;
}

.table__work {
  table-layout: auto;
  border: 3px solid grey;
  text-align: center;
}
.table__work tbody {
  font-weight: normal;
}

#about-me {
  text-align: justify;
}

.grid__item-photo {
  max-width: 100%;
  width: 100%;
  height: 355px;
}

.navigation-list__item--active {
  text-decoration: underline; /*underlines the active page on nav bar*/
}

.profile__text {
  display: flow-root;
}

.profile__text--link {
  text-align: center;
  padding: 10px;
}

/*INPUT STYLE from about.html animation INTO sunset-about.svg*/

#sunrise__animation {
  text-align: center;
}



/*start of contact form*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* min-height: 100vh; */
}

.container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}


.screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.screen-body-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #fff;
  font-size: 26px;
}


.app-contact {
  margin-top: auto;
  font-size: 14px;
  color: #888;
  text-decoration: none;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.app-form-control::-webkit-input-placeholder {
  color: #666;
}

.app-form-control::-moz-placeholder {
  color: #666;
}

.app-form-control:-ms-input-placeholder {
  color: #666;
}

.app-form-control::-ms-input-placeholder {
  color: #666;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #bbc2c7;
  scale: 2px;
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 340px 10px 0;
  }
  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .navigation__page-header-item:last-child {
    text-align: center;
  }
  .page-header img {
    width: 100%;
  }
  .navigation-list {
    padding: 0;
  }
  main {
    margin: 330px 10px 0;
  }
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .sunrise-img {
    width: 100%;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 520px) {
  .screen-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
/*end of contact form*/